/*Allgemein*/
.white {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 20px;
}
.homepage {
	font-family: Arial;
}

.headw {
	color: #FFFFFF;
	text-align: center;
	font-size: 60px;
	font-family: Arial;
}
.headb {
	color: #bababa;
	text-align: center;
	font-size: 60px;
	font-family: Arial;
}
.headblue {
	font-family: Arial;
	color: #5aaded;
	font-size: 68px;
}

.lmiddleb {
	color: #bababa;
	text-align: left;
	font-size: 26px;
	font-family: Arial;
}

.lmiddlegrey {
	color: #a4a4a4;
	text-align: left;
	font-size: 26px;
	font-family: Arial;
}

.lsmallb {
	color: #bababa;
	text-align: left;
	font-size: 14px;
	font-family: Arial;
	
}

/*Spezifisch*/
.headlinemenuepoint {
	font-family: Arial;
	font-size: 20px;
	color: #FFFFFF;
}

.contentmenue {
	font-family: Arial;
	color: #FFFFFF;
}

.contentmenuepointactive a {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 22px;
}
.contentmenuepointactive a:hover {
	text-decoration: underline;
}



.folgedesctitle {
    letter-spacing: -1px;
    
  
	font-weight: 600;
	font-size: 18px;
	font-family: Arial;
}

.folgedesc a:hover {
	text-decoration: underline;
}

.episodedesc {
	font-family: Arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	
}

.headlineundermenuepoint a{
	color: #6E6E6E;
	font-family: Arial;
	font-size: 14px;
}


.headlineundermenuepoint a:hover {
	color:#BDBDBD;
}









