.homepage {
	font-family: Arial;
}

.headw {
	color: #FFFFFF;
	text-align: center;
	font-size: 60px;
}
.headb {
	color: #000000;
	text-align: center;
	font-size: 60px;
}
.headblue {
	font-family: Arial;
	color: #5aaded;
	font-size: 100px;
}

.headlinemenuepoint {
	font-family: Arial;
	font-size: 20px;
	color: #FFFFFF;
}

