/*Headlinemenue*/
.headlinemenue {
	float: left;
	margin: auto;
	margin-top: 30px;
	margin-left: 40px;
}

.headlinemenuepoint {
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
.headlinemenuepoint:hover {
	text-decoration: underline;
}

#blue {
	color: #5aaded;
	padding: 6px;
}
#lila {
	color: #aa00ff;
	padding: 6px;
}
#red {
	color: #ff0000;
	padding: 6px;
}
#orange {
	color: #ff8300;
	padding: 6px;
}

ul {
	list-style: none;
	display: inline;
}

li {
	float: left;
}

.active {
	border-radius: 5px;
	border: 2px #5AADED solid;
}

/*Contentmenue*/

.contentmenue {
	
}

.contentmenuepoint {
	
}

.contentmenuepointactive {
	
}

