/*Headlinemenue*/
.headlinemenue {
	float: left;
	margin: auto;
	margin-top: 30px;
	margin-left: 40px;
}

.headlinemenuepoint {
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
.headlinemenuepoint:hover {
	text-decoration: underline;
}

#blue {
	color: #5aaded;
	padding: 6px;
}
#lila {
	color: #aa00ff;
	padding: 6px;
}
#red {
	color: #ff0000;
	padding: 6px;
}
#orange {
	color: #ff8300;
	padding: 6px;
}

ul {
	list-style: none;
	display: inline;
}

li {
	float: left;
}

.active {
	border-bottom: dashed #207CE5 3px;
}

/*Contentmenue*/

.contentmenue {
	height: 45px;
	background-image: -moz-linear-gradient( center top, #fff 0%, #f1f1f1 50%, #e1e1e1 50%, #ebebeb 100% );
	background: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, #fff),
	color-stop(0.5, #f1f1f1),
	color-stop(0.5, #e1e1e1),
	color-stop(1, #ebebeb)
	);
	z-index: 999;
	border-bottom: 1px solid #303030;
	-webkit-border-top-right-radius: 20px;
	-moz-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
}

.contentmenuepointactive {
	background-color: #000000;
	height: 45px;
	border-top-left-radius: 20px 15px;
	-moz-border-radius-topleft: 20px 15px;
	border-top: 1px solid #525252;
	border-left: 1px solid #525252;
	background-image: -moz-linear-gradient( center top, #282828 0%, #1d1d1d 50%, #000 50%, #171717 100% );
	background: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, #282828),
	color-stop(0.5, #1d1d1d),
	color-stop(0.5, #000),
	color-stop(1, #171717)
	);
}

.contentmenuepointactivetext {
	margin-left: 20px;
	margin-right: 70px;
	margin-top: 7px;
	float: left;
}

.contentmenuepoint {
	height: 48px;
	margin-left: 20px;
	margin-right: 10px;
}

.contentmenuepointhover {
	height: 48px;
	margin-left: 20px;
	margin-right: 10px;
	background: #76b1e8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2YjFlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #76b1e8 0%, #207ce5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76b1e8), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #76b1e8 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #76b1e8 0%,#207ce5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #76b1e8 0%,#207ce5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #76b1e8 0%,#207ce5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b1e8', endColorstr='#207ce5',GradientType=0 ); /* IE6-8 */
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #F1A725;
	margin-top: -3px;
}

.contentmenuepointtext {
	padding-top: 7px;
	padding-left: 20px;
	padding-right: 20px;
}
.contentmenuepointtext:hover {

}

.contentmenuedropdown {
	margin-top: 0px;
	position: absolute;
	margin-left: 20px;
	min-height: 200px;
	width: 500px;
	border: 1px solid #aaaaaa;
	border-top: 4px solid #207ce5;
	padding: 10px;
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	-khtml-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#bbbbbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#bbbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-8 */
}

#games {
	visibility: hidden;
}

#angezockt {
	visibility: hidden;
}
#bsp {
	visibility: hidden;
	width: 200px;
}

.contentmenuedropdowncontent {

}

.game {
	width: 78px;
	height: 110px;
	background-color: #000000;
}
.game:hover {
	border: 2px 207ce5 solid;
}

